@font-face {
<<<<<<< HEAD
    font-family: comp;
    src: url(Assets/Comp_font.ttf);
}
@font-face {
    font-family: pixel;
    src: url(Assets/rainyhearts.ttf);
=======
    font-family: pixel;
    src: url(/Users/mishal/Documents/GitHub/BibbleArchive/Assets/rainyhearts.ttf);
    src: url(https://www.dafont.com/rainyhearts.font);
}
@font-face {
    font-family: comp;
    src: url(/Users/mishal/Documents/GitHub/BibbleArchive/Assets/Comp_font.ttf);
    src: url(https://www.dafont.com/vcr-osd-mono.font);
>>>>>>> f48c1f202e84f07d69f7d3d65a52c7f8e3921da3
}

/* Bodies */
body{
    margin: 1em;
    background-color: black;
}
img{
    display: block;
    height: auto;
    width: 200px;
    height: auto;
    margin: auto auto;
    object-fit: contain;
}

/* Classes */
.c_para{
    color: rgba(255, 81, 81, 0.534);
    font-size: 15px;
    font-family: comp;
    text-align: center;
}

/* Div Bodies */
#arch{
    margin: 20px;
    padding: 30px;
    width: auto;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.678);
}

/* Fonts */
h1{
    color: rgba(255, 255, 255, 0.678);
    font-family: comp;
    font-size: 80px;
    text-align: center;
}
h2{
    color: rgba(204, 204, 204, 0.678);
    font-family: comp;
    font-size: 40px;
    text-align: center; 
}
p{
    color: rgba(255, 255, 255, 0.678);
    font-family: pixel;
    font-size: 20px;
    text-align: justify;
}
